/* DataSetView */
.data-set-view-container {
    display: block;
    width: 100%;
    border-style: inset;
    border-width: 2px;
    overflow-x: scroll;
}

    .data-set-view-container table {
        width: 100%;
        font-size: 11px;
    }

        .data-set-view-container table th {
            font-weight: bold;
            background-color: #6666FF;
            color: #FFFFFF;
            vertical-align: bottom;
            padding: 5px;
        }

        .data-set-view-container table td {
            max-width: 100px;
            padding: 5px;
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .data-set-view-container table tr.data-set-view-record:nth-child(odd) {
            background-color: #DADADA;
        }

        .data-set-view-container table tr.data-set-view-record:hover {
            background-color: #DDDDFF;
            cursor: pointer;
        }

.data-set-view-pagination {
    display: block;
    width: 100%;
    font-size: 10px;
    background-color: #ffffEE;
    text-align: right;
}

    .data-set-view-pagination .page-button {
        border-style: none;
        background-color: transparent;
        padding-right: 5px;
        color: #6666FF;
    }

        .data-set-view-pagination .page-button:hover {
            text-decoration: underline;
        }

    .data-set-view-pagination select {
        margin: 5px;
    }

.data-set-view-top-bar {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ffffEE;
}

    .data-set-view-top-bar .data-set-view-pagination {
        float: right;
        width: unset;
    }

    .data-set-view-top-bar .data-set-view-search-bar {
        display: block;
        float: left;
        padding-left: 5px;
        font-size: 10px;
        font-weight: bold;
        vertical-align: middle;
    }

        .data-set-view-top-bar .data-set-view-search-bar input {
            height: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
