@page "/"
@rendermode InteractiveServer

@using BlazorDataSetView;
@using BlazorDataSetView.Components
@using BlazorDataSetView.Interfaces
@using BlazorDataSetView.Providers
@using BlazorDataSetView.Enums
@using BlazorDataSetViewExamples.Records

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (!FormInEditMode)
{
    <input type="button" value="Edit" @onclick="() => FormInEditMode = true" />
}
else
{
    <input type="button" value="Save Changes" @onclick="() => FormInEditMode = false" />
}
<DataSetView DataSource="DataSource" DataSourceDefinition="DataSourceDefinition" FormInEditMode="FormInEditMode" Paginate="true" 
        Selectable="false" SelectedRecords="[]" ShowSearch="true" />

Welcome to your new app.

@code {
    [Parameter]
    public List<ExampleReportRecord> DataSource { get; set; } = [];

    [Parameter]
    public ViewDefinition<ExampleReportRecord>? DataSourceDefinition { get; set; }

    [Parameter]
    public bool FormInEditMode { get; set; }

    protected override void OnInitialized()
    {
        DataSource = new List<ExampleReportRecord>()
        {
            new () { Id = 1, FirstName = "First", LastName = "Last", DateOfBirth = new DateTime(2020, 01, 01), RecordType = RecordType.None },
            new () { Id = 2, FirstName = "Christopher", LastName = "Redden", DateOfBirth = new DateTime(2000, 01, 01), RecordType = RecordType.None },
            new () { Id = 3, FirstName = "David", LastName = "O'Neill", DateOfBirth = new DateTime(1980, 01, 01), RecordType = RecordType.None },
            new () { Id = 4, FirstName = "Kathleen", LastName = "Thompson", DateOfBirth = new DateTime(1990, 01, 01), RecordType = RecordType.None },
            new () { Id = 5, FirstName = "Szilvia", LastName = "Mathe-Puckey", DateOfBirth = new DateTime(1990, 01, 01), RecordType = RecordType.None }
        };

        DataSourceDefinition = ViewDefinitionFactory.Create<ExampleReportRecord>(new Providers.ExampleReportViewDefinitionProvider());

        FormInEditMode = false;
    }
}
