@page "/"
@rendermode InteractiveServer

@using BlazorDataSetView;
@using BlazorDataSetView.Components
@using BlazorDataSetView.Interfaces
@using BlazorDataSetView.Providers
@using BlazorDataSetView.Enums
@using BlazorDataSetViewExamples.Records

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (!FormInEditMode && _dsvComponent?.SingleRecordBeingEdited == null)
{
    <input type="button" value="Edit" @onclick="() => SwitchToEditMode()" />
}
else
{
    <input type="button" value="Save Changes" @onclick="() => SaveChanges()" />
}
<DataSetView @ref="_dsvComponent" DataSource="DataSource" DataSourceDefinition="DataSourceDefinition" FormInEditMode="FormInEditMode" Paginate="true" SingleRecordEdit="true"
    Selectable="false" SelectedRecords="[]" ShowSearch="true" SearchAsYouType="false" TEntity="ExampleReportRecord" OnRecordClicked="ExampleReportRecord_Clicked" />

Welcome to your new app.

@code {
    [Parameter]
    public List<ExampleReportRecord> DataSource { get; set; } = [];

    [Parameter]
    public ViewDefinition<ExampleReportRecord>? DataSourceDefinition { get; set; }

    [Parameter]
    public bool FormInEditMode { get; set; }

    private DataSetView<ExampleReportRecord>? _dsvComponent;

    protected override void OnInitialized()
    {
        DataSource = new List<ExampleReportRecord>()
        {
            new () { Id = 1, FirstName = "Christi", LastName = "Hodge", DateOfBirth = new DateTime(2000, 02, 21), RecordType = RecordType.None },
            new () { Id = 2, FirstName = "Mildred", LastName = "Walton", DateOfBirth = new DateTime(2003, 06, 24), RecordType = RecordType.None },
            new () { Id = 3, FirstName = "Edna", LastName = "Curtis", DateOfBirth = new DateTime(2010, 05, 20), RecordType = RecordType.None },
            new () { Id = 4, FirstName = "Luciano", LastName = "Ho", DateOfBirth = new DateTime(2010, 09, 07), RecordType = RecordType.None },
            new () { Id = 5, FirstName = "Belinda", LastName = "Little", DateOfBirth = new DateTime(2011, 03, 23), RecordType = RecordType.None },
            new () { Id = 6, FirstName = "Cristopher", LastName = "Gallegos", DateOfBirth = new DateTime(2012, 05, 13), RecordType = RecordType.None },
            new () { Id = 7, FirstName = "Robbie", LastName = "Andrews", DateOfBirth = new DateTime(2018, 03, 22), RecordType = RecordType.None },
            new () { Id = 8, FirstName = "Marina", LastName = "Whitney", DateOfBirth = new DateTime(2010, 09, 19), RecordType = RecordType.None },
            new () { Id = 9, FirstName = "Lorenzo", LastName = "Cochran", DateOfBirth = new DateTime(2008, 06, 10), RecordType = RecordType.None },
            new () { Id = 10, FirstName = "Major", LastName = "Orozco", DateOfBirth = new DateTime(2009, 05, 24), RecordType = RecordType.None },
            new () { Id = 11, FirstName = "Lara", LastName = "Chung", DateOfBirth = new DateTime(2001, 09, 19), RecordType = RecordType.None },
            new () { Id = 12, FirstName = "Tristan", LastName = "Schroeder", DateOfBirth = new DateTime(2012, 01, 15), RecordType = RecordType.None },
            new () { Id = 13, FirstName = "Williams", LastName = "Waters", DateOfBirth = new DateTime(2009, 09, 08), RecordType = RecordType.None },
            new () { Id = 14, FirstName = "Janet", LastName = "Montgomery", DateOfBirth = new DateTime(2022, 07, 20), RecordType = RecordType.None },
            new () { Id = 15, FirstName = "Theron", LastName = "Craig", DateOfBirth = new DateTime(2002, 05, 17), RecordType = RecordType.None },
            new () { Id = 16, FirstName = "Bobbi", LastName = "Beltran", DateOfBirth = new DateTime(2003, 04, 11), RecordType = RecordType.None },
            new () { Id = 17, FirstName = "Martin", LastName = "Carey", DateOfBirth = new DateTime(2010, 07, 13), RecordType = RecordType.None },
            new () { Id = 18, FirstName = "Jacklyn", LastName = "Blair", DateOfBirth = new DateTime(2010, 10, 19), RecordType = RecordType.None },
            new () { Id = 19, FirstName = "Harold", LastName = "Martinez", DateOfBirth = new DateTime(2009, 05, 14), RecordType = RecordType.None },
            new () { Id = 20, FirstName = "Ana", LastName = "Pacheco", DateOfBirth = new DateTime(2007, 02, 04), RecordType = RecordType.None },
        };

        DataSourceDefinition = ViewDefinitionFactory.Create<ExampleReportRecord>(new Providers.ExampleReportViewDefinitionProvider());

        FormInEditMode = false;
    }

    public void ExampleReportRecord_Clicked(ExampleReportRecord record)
    {
        if (_dsvComponent == null) { return; }
        if (_dsvComponent.SingleRecordBeingEdited != null) { return; }

        _dsvComponent.SingleRecordBeingEdited = record;
    }

    public void SwitchToEditMode()
    {
        FormInEditMode = true;
    }

    public void SaveChanges()
    {
        FormInEditMode = false;

        if (_dsvComponent == null) { return; }
        _dsvComponent.SingleRecordBeingEdited = null;
    }
}
